
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap);


body{
  margin:0;
  background-color:#f6f7fb
}

body,form,input,option,select,textarea{
  font-family:"Poppins",sans-serif
}

.MainContainer{
  margin-top:100px
}

.Topbar{
  width:100%;
  padding:0 48px;
  box-sizing:border-box;
  position:fixed;
  top:0;
  left:0;
  z-index:10;
  box-shadow:0 2px 4px #ccc;
  background-color:#fff;
  justify-content:space-between
}


.Topbar_LeftMenu,.Topbar_LogoWrapper,.Topbar{
  display:flex;
  align-items:center
}
.Topbar_LogoWrapper{
  margin-right:36px
}

.Topbar_LogoWrapper img{
  width:24px;
  height:28px;
  margin-right:8px
}

.Topbar_BrandName{
  font-size:24px;
  letter-spacing:-1px;
  font-weight:500;
  margin:0;
  color:rgba(0,0,0,.8)
}

.Topbar_MenuItem{
  display:inline-block;
  text-decoration:none;
  color:rgba(0,0,0,.8);
  padding:24px 0 16px;
  font-size:14px;
  font-weight:500;
  letter-spacing:.6px;margin:0 10px
}

.Topbar_MenuItem.Topbar_Active{
  color:#20b883;
  border-bottom:3px solid #20b883
}

.Homepage_PageWrapper{
  width:100%;
  box-sizing:border-box;
  padding:0 8% 4%
}

.Homepage_MainHeading{
  margin:0
}

.Homepage_OrdersWrapper{
  width:100%;
  display:flex;
  align-items:flex-start;
  padding:24px 0
}

.Homepage_FilterWrapper{
  width:180px
}
  
.Homepage_FilterWrapper h3{
  margin:0
}

.Homepage_FilterOptions{
  display:flex;
  flex-direction:column
}

.Homepage_FilterCheckbox{
  margin:6px 0;
  cursor:pointer
}


.Homepage_FilterCheckbox input{
  margin-right:12px
}

.Homepage_OrderTable{
  width:100%;
  border-collapse:collapse
}

.Homepage_OrderTable td,.Homepage_OrderTable th{
  text-align:left;
  padding:12px 24px;
  font-size:14px
}

.Homepage_TableRow{
  background-color:#fff;
  border-bottom:4px solid #f6f7fb
}

.Homepage_PrimaryText{
  color:rgba(0,0,0,.8);
  font-weight:500
}

.Homepage_SecondaryText{
  color:#8c8c8c
}

.ProductListingPage_PageWrapper{
  width:100%;
  box-sizing:border-box;
  padding:0 8% 4%
}

.ProductListingPage_MainHeading{
  margin:0
}

.ProductListingPage_OrdersWrapper{
  width:100%;
  display:flex;
  align-items:flex-start;
  padding:24px 0
}

.ProductListingPage_FilterWrapper{
  width:180px
}

.ProductListingPage_FilterWrapper{
  margin:0
}

.ProductListingPage_FilterOptions{
  display:flex;
  flex-direction:column
}

.ProductListingPage_FilterCheckbox{
  margin:6px 0;
  cursor:pointer
}

.ProductListingPage_FilterCheckbox input{
  margin-right:12px
}

.ProductListingPage_OrderTable{
  width:100%;
  border-collapse:collapse
}

.ProductListingPage_OrderTable td,.ProductListingPage_OrderTable th{
  text-align:left;
  padding:12px 24px;
  font-size:14px
}

.ProductListingPage_TableRow td{
  background-color:#fff;
  border-bottom:4px solid #f6f7fb
}

.ProductListingPage_PrimaryText{
  color:rgba(0,0,0,.8);
  font-weight:500
}

.ProductListingPage_SecondaryText{
  color:#8c8c8c
}

.UserList_PageWrapper{
  width:100%;
  box-sizing:border-box;
  padding:0 8% 4%;
  margin-top:6.5rem;
}

.UserList_MainHeading{
  margin:0
}

.UserList_OrdersWrapper{
  width:100%;
  padding:24px 0
}

.UserList_FilterWrapper{
  width:700px;
  display:flex;
  align-items:center;
  margin-bottom:48px
}

.UserList_FilterWrapper h3{
  margin:0
}

.UserList_FilterOptions{
  display:flex;
  flex-direction:column
}

.UserList_FilterCheckbox{
  margin:6px 0;
  cursor:pointer
}

.UserList_FilterCheckbox input{
  margin-right:12px
}

.UserList_OrderTable{
  width:100%;
  border-collapse:collapse
}

.UserList_OrderTable td,.UserList_OrderTable th{
  text-align:left;
  padding:12px 24px;
  font-size:14px
}

.UserList_TableRow td{
  background-color:#fff;
  border-bottom:4px solid #f6f7fb
}

.UserList_PrimaryText{
  color:rgba(0,0,0,.8);
  font-weight:500
}

.UserList_SecondaryText{
  color:#8c8c8c
}

.UserList_SearchBox{
  width:calc(100% - 100px);
  padding:12px 24px;
  font-size:15px;
  border:0;
  border-bottom:2px solid #8c8c8c;
  margin:0 36px 0 0;
  outline:none
}


.UserList_Button{
  display:inline-block;
  border-radius:30px;
  padding:14px 36px;
  font-size:12px;
  font-weight:500;
  letter-spacing:1px;
  background-color:#20b883;
  color:#fff;
  border:none;
  outline:none;
  cursor:pointer
}

.LoginPage_LoginForm{
  width:100%;
  max-width:500px;
  border-radius:6px;
  background-color:#fff;
  margin:0 auto;
  padding:32px;
  box-sizing:border-box;
  display:flex;
  flex-direction:column;
  box-shadow:0 0 6px #ccc
}

.LoginPage_LoginForm h1{
  letter-spacing:1px;
  font-weight:500;
  margin:0 0 24px
}

.LoginPage_InputField{
  width:100%;
  padding-top:16px;
  font-size:14px;
  box-sizing:border-box;
  border:0;
  border-bottom:2px solid #8c8c8c;
  margin-bottom:16px;
  outline:none
}

.LoginPage_Button{
  display:inline-block;
  border-radius:30px;
  padding:14px 36px;
  font-size:12px;
  font-weight:500;
  letter-spacing:1px;
  background-color:#20b883;
  color:#fff;
  border:none;
  outline:none;
  cursor:pointer;
  margin-top:24px
}


.nav_menu{
  display:flex;
}

.nav_menu li{
  list-style-type: none;
  margin-bottom: -.5rem;
  margin-top: -.5rem;
}