// ! reset
a,
p {
  margin: 0;
  padding: 0;
}

// ! NAVBAR

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0;
  box-shadow: 2px 2px 7px 2px grey;
  transform: scale(1.05) translateY(-12px);
  .left-span {
    display: flex;
    align-items: center;
    padding-left: 3rem;
    .logo {
      color: rgb(108, 245, 149);
    }
    a {
      margin-left: 2rem;
      text-transform: none;
      text-decoration: none;
      color: black;
      font-size: 1.1rem;
    }
  }
  .right-span {
    padding-right: 5rem;
    a {
      text-decoration: none;
      color: black;
      font-size: 1.1rem;
    }
  }
}
.content {
  max-width: 90%;
  margin: 0 auto;
  .main-section {
    display: grid;
    grid-template-columns: 1fr 6fr;
    * {
      font-size: 1.3rem;
    }
    .sidebar {
      display: flex;
      flex-direction: column;
    }
    .details {
      .column-names {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr 1fr 0.5fr;

        padding: 5px 10px;
      }
      .card {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr 1fr 0.5fr;
        align-items: center;
        margin: 5px 0;
        padding: 15px 10px;
        border: 1px solid black;
        .date {
          display: flex;
          flex-direction: column;
        }
      }
    }
    .details-product {
      .column-names {
        display: grid;
        grid-template-columns: 1fr 3fr 3fr 1fr 1fr 1fr;

        padding: 5px 10px;
      }
      .card {
        display: grid;
        grid-template-columns: 1fr 3fr 3fr 1fr 1fr 1fr;
        margin: 5px 0;
        padding: 15px 10px;
        border: 1px solid black;
      }
    }
  }
}
