@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap);


body{
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}

code{
    font-family:source-code-pro,Menlo,Monaco,Consolas,"Courier New",monospace
}

body{
    margin:0;background-color:#f6f7fb
}

body,form,input,option,select,textarea{
    font-family:"Poppins",sans-serif
}



.UserList_PageWrapper__11jYV{
    width:100%;
    box-sizing:border-box;
    padding:0 8% 4%
}

.UserList_MainHeading__1Ntqz{
    margin:0
}

.UserList_OrdersWrapper__8eEvi{
    width:100%;
    padding:24px 0
}

.UserList_FilterWrapper__39u8A{
    width:700px;
    display:flex;
    align-items:center;
    margin-bottom:48px
}

.UserList_FilterWrapper__39u8A h3{
    margin:0
}

.UserList_FilterOptions__1bzC-{
    display:flex;flex-direction:column
}

.UserList_FilterCheckbox__1CI_8{
    margin:6px 0;
    cursor:pointer
}

.UserList_FilterCheckbox__1CI_8 input{
    margin-right:12px
}

.UserList_OrderTable__1cnvQ{
    width:100%;
    border-collapse:collapse
}

.UserList_OrderTable__1cnvQ td,.UserList_OrderTable__1cnvQ th{
    text-align:left;
    padding:12px 24px;
    font-size:14px
}

.UserList_TableRow__2DK3e td{
    background-color:#fff;
    border-bottom:4px solid #f6f7fb
}

.UserList_PrimaryText__38Hc_{
    color:rgba(0,0,0,.8);
    font-weight:500
}

.UserList_SecondaryText__3UV5v{
    color:#8c8c8c
}

.UserList_SearchBox__BG9wr{
    width:calc(100% - 100px);
    padding:12px 24px;font-size:15px;
    border:0;
    border-bottom:2px solid #8c8c8c;
    margin:0 36px 0 0;
    outline:none
}

.UserList_Button__1ygGK{
    display:inline-block;
    border-radius:30px;
    padding:14px 36px;
    font-size:12px;
    font-weight:500;
    letter-spacing:1px;
    background-color:#20b883;color:#fff;
    border:none;
    outline:none;
    cursor:pointer
}